@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Witaj na stronie ServiceApp</h1>
    <br/>
    <h3 class="display-6">Jeżeli chcesz zgłosić awarie, <a asp-area="" asp-controller="Tickets" asp-action="Create">stwórz nowe zgłoszenie</a></h3>
    <h3 class="display-6">Możesz także przejrzeć swoje aktualne maszyny na stanie w kolejnej zakładce</h3>
</div>
